/* styles.css */

/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Enables smooth scrolling */
  }
  
  /* Navbar */
  nav {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    z-index: 1000;
    box-shadow: 0 5px 10px rgb(23, 98, 0);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav ul li a:hover {
    color: #90ee90; /* Light lime hover */
  }
  
  /* Sections */
  section {
    height: 100vh; /* Full-screen sections */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about {
    background: linear-gradient(180deg, #ffffff, #eeffee);
  }
  
  #projects {
    background: linear-gradient(180deg, #eeffee, #ddffdd);
  }
  
  #contact {
    background: linear-gradient(180deg, #ddffdd, #ccffcc);
  }
  .icons {
    text-align: center; /* Centers the row of images */
  }
  
  .icon {
    display: inline-block;
    margin: 0 10px; /* Adds spacing between the images */
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;  /* Smooth transition over 0.5 seconds */

  }
  .icon:hover {
    transform: scale(1.5);
    filter: brightness(1.5); /* Makes the icon brighter on hover */
  }
    